.tableContainer {
  background-color: #f8f88e;
  height: 60vh;
}

.pagination {
  padding: 1em;
  margin-top: 1em;
  background-color: #f8f88e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableHeader th {
  background-color: #f8f88e;
}

.slider > span > span {
  color: black;
  background-color: #f6f5cc;
}
